.queenz{
    position: relative;
  }
  .logopic{
    position:absolute;
    bottom:6%;
    left:46%;
    justify-content: center;
  }
  #menu{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
  }
  body {
background-color: rgb(35, 158, 196);
  }
  .container{
    padding-top: 15px;
  }
  .container h5{
    font-style: italic;
    color: rgb(4, 5, 4);  
  }
  .sub{
    text-align: center;
    padding-top: 50px
  }
  .order {
    text-align: center;
    padding-top: 30px;
    font-style: initial;
  }
  .od{
    padding-top: 20px;
  }