.queenz{
    position: relative;
  }
  .logopic{
    position:absolute;
    bottom:6%;
    left:46%;
    justify-content: center;
  }
  #menu{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
  }
  body {
background-color: rgba(25, 83, 241, 0.568);
  }
  .container{
    padding-top: 15px;
  }